*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    font-family: 'Poppins',sans-serif;
    background-color: #f2f2f2;
}


.menu-en-alto{
    padding-right: 25px;
    margin-top: 20px;
    color: #000;
    background-color: #fff;
    
}


.menu-en-alto .numero{
    float: right;
    margin: 0 16px 0 0;
}

.menu-en-alto .correo{
    float: right;
    margin: 0 16px 0 0;
}

.logo{
    display: flex;
    align-items: flex-end;
    padding: 25px;

    
}

.logo img{
    width: 10%;
    height: 10%;
}

.menu-del-medio{
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-decoration: none;
}

.menu-del-medio a{
    margin: 10px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.menu-del-medio a:hover{
    background: #F16529 ;
    border-radius: 10px;
}


.servicio-cont{
    background: #f2f2f2;
}

.servicio{
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.servicio .img-servicio{
    width: 50%;
}

.servicio .img-servicio .servicio-img{
    width: 100%;
    vertical-align: top;
}


.contenido-servicio h3{
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 45px;
    text-align: start;
}

.contenido-servicio{
    
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  
}

.contenedor-de-contactos li{
    width: 50%;
    color: rgb(0, 0, 0);
    padding-top: 20px ;
    font-size: larger;
    margin-left: 50px;
    list-style: none;
    padding-bottom: 50px;
}

.formulario{
    position: absolute;
    bottom: 0;
    width: 50%;
}


footer{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px 0;
    width: 100%;
    display: flex;
    margin-top: 25px;
}

footer .contactar{
    padding: 90px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 250px;
    text-align: start;
}

.contactar h6{
    color: rgb(218, 211, 211);
}

.img-footer{
    bottom: 0;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.img-footer img{
    height: 250px;
    width: 100%;
}