*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    font-family: 'Poppins',sans-serif;
    background-color: #f2f2f2;
}


.menu-en-alto{
    padding-right: 25px;
    color: #000;
    background-color: #fff;
    
}

.correo{
    padding-top: 25px;
}

.numero{
    padding-top: 25px;
}


.menu-en-alto .numero{
    float: right;
    margin: 0 16px 0 0;
}

.menu-en-alto .correo{
    float: right;
    margin: 0 16px 0 0;
}

.logo{
    display: flex;
    align-items: flex-end;
    padding: 25px;

    
}

.logo img{
    width: 69%;

}

.menu-del-medio{
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    background: #F00000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    text-decoration: none;
}

.menu-del-medio a{
    margin: 10px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.menu-del-medio a:hover{
    background: #Fff ;
    border-radius: 10px;
    color: black;
}

.imagen{
    padding: 30px;
}

 .imagen img{
display: block;
margin: auto;
height: 600px; 
border-radius: 10px;
box-shadow: 3px 3px 3px rgb(216, 3, 3);

}

footer{
    background: #F00000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px 0;
    width: 100%;
    display: flex;
    margin-top: 25px;


}

footer .contactar{
    padding-left: 0px;
    color: rgb(255, 255, 255);
    width: 48%;
    height: 250px;
    text-align: start;
    border-right: 10px  dotted rgba(0, 0, 0, 1);
}

.contactar h1{
    text-align: center;
}


.contactar h4{
    padding-left: 50px;
    padding-top: 20px;
    color:#000;
    font-size: 30px;
}

.contactar .ccont{
    padding-left: 50px;
    padding-top: 25px;
    position: relative;

}

.ccont li{
    font-size: 25px;
}

.img-footer img{
    height: 245px;
    width: 100%;
    position: absolute;
    top:0;
    padding-left: 190px;
}


.formulario{
    width: 49%;
    padding-left: 30px;
}

.contact h3{
    color: #fff;
    padding-bottom: 20px;
    font-size: 35px;
}

.name{
    color: #fff;
    font-size: 21px;
}