*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    font-family: 'Poppins',sans-serif;
    background-color: #f2f2f2;
}


.menu-en-alto{
    padding-right: 25px;
    color: #000;
    background-color: #fff;
    
}

.correo{
    padding-top: 25px;
}

.numero{
    padding-top: 25px;
}


.menu-en-alto .numero{
    float: right;
    margin: 0 16px 0 0;
}

.menu-en-alto .correo{
    float: right;
    margin: 0 16px 0 0;
}

.logo{
    display: flex;
    align-items: flex-end;
    padding: 25px;

    
}

.logo img{
    width: 69%;

}

.menu-del-medio{
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-decoration: none;
}

.menu-del-medio a{
    margin: 10px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.menu-del-medio a:hover{
    background: #ffffff ;
    border-radius: 10px;
    color: #000;
}

.carrusel{
    width: 100%;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 2px rgb(255, 44, 16);
    border-radius: 10px;
}

.carousel-item img{
    width: 100%;
    height:600px;
  }

  .title-tipos{
    text-align: center;
    color: #000;
    font-size: 40px;
  }

.tipos {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.tipos-card{
    width: 30%;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 12px 16px rgba(255, 81, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    text-align: start;
    transition: all 0.25s;
}

.tipos .tipos-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 81, 0, 0.3);


}

.tipos .tipos-card img{
    width: 100%;
    height: 220px;
}

.tipos-card h4{
    font-size: 28px;
    text-align: center;
    padding: 20px;
    color: #2b2b2b;
    
}

.tipos-card li{
    padding-left: 15px;
    margin: 5px;
    font-size: 22px;
    font-weight: 300px;
    color: #2b2b2b;
}


.title-tipos h1{
    text-align: center;
    font-size: 40px;
    margin: 100px;
    font-weight: 100;
}


  .contenedor-trabajos{
      padding-top: 90px;
      margin: 45px;
      background: #ffffff;;
  }


  .titulo h1{
      text-align: center;  
      padding: 30px;
      color: #000;
      font-size: 40px;
  }

  .card-deck{
      padding: 45px;
  }

  .card{
      border-radius: 8px;
      box-shadow: 2px 2px 2px rgb(0, 0, 0);
      background: rgba(0, 0, 46, 0.2);
      }

  .card img{
      height: 300px;
      width: 100%;
 }

 .card p{
     color: #000000;
     font-size: 20px;
 }

 .card h5{
     color: #000;
     font-size: 21px;
 }

footer{
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px 0;
    width: 100%;
    display: flex;
    margin-top: 25px;


}

footer .contactar{
    padding-left: 0px;
    color: rgb(255, 255, 255);
    width: 48%;
    height: 250px;
    text-align: start;
    border-right: 10px  dotted rgba(0, 0, 0, 1);
}

.contactar h1{
    text-align: center;
}


.contactar h4{
    padding-left: 50px;
    padding-top: 20px;
    color:#000;
}

.contactar .ccont{
    padding-left: 50px;
    padding-top: 25px;
    position: relative;

}

.ccont li{
    font-size: 25px;
}

.img-footer img{
    height: 245px;
    width: 100%;
    position: absolute;
    top:0;
    padding-left: 190px;
}


.formulario{
    width: 49%;
    padding-left: 30px;
}

.contact h3{
    color: #fff;
    padding-bottom: 20px;
    font-size: 35px;
}

.name{
    color: #fff;
    font-size: 21px;
}