*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenedor{
    font-family: 'Poppins',sans-serif;
    background-color: #f2f2f2;
}


.menu-en-alto{
    padding-right: 25px;
    color: #000;
    background-color: #fff;
    
}

.correo{
    padding-top: 25px;
}

.numero{
    padding-top: 25px;
}

.img-header {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}


.img-header img{
    height: 50px;  
}

.menu-en-alto .numero{
    float: right;
    margin: 0 16px 0 0;
}

.menu-en-alto .correo{
    float: right;
    margin: 0 16px 0 0;
}


.logo{
    display: flex;
    align-items: flex-end;
    padding: 25px;
}

.logo img{
    width: 69%;
}

.img-img {
    display: flex;
    align-items: flex-end;
}

.img-img img{
    width: 65%;
}

.menu-del-medio{
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    background-color: rgb(59, 192, 19);
}

.menu-del-medio a{
    margin: 10px;
    padding: 20px;
    color: #000;
    text-decoration: none;
    font-size: 20px;

}

.menu-del-medio a:hover{
    background: #ffffff ;
    border-radius: 10px;
    color: #f83600;
}

.tabla .tabla1 img{
    height: 100px;
}

.tabla .tabla1{
    font-size: 17px;
}

.tabla2 img{
    height: 100px;
}

.tabla2 p{
    font-size: 20px;
}

.tabla .tabla4 p{
    font-size: 15px;
}


.luces{
padding: 60px;
display: flex;
margin-top: 40px;
width: 100%;
flex-wrap: wrap;
justify-content: space-around;
background-color: #fff;
}

.titulo-tabla{
    padding:50px;
    margin-top: 35px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(59, 192, 19, 0.8);
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.tabla{
    overflow: hidden;
    box-shadow: 3px 3px 3px rgb(59, 192, 19);
    border-radius: 10px;
    height: 538px;
}


.tabla .card{
    width: 100%;
    height: 538px;
    transform: scale(1);
    transition: transform 1s;
}



.tabla .card img{
    width: 50%;
    padding: 15px;
}

.tabla .card p{
    text-align: start;
}

.carrusel{
    width: 89%;
    display: block;
    margin: auto;
    border-radius: 10px;
    background: #fff;
}

.carousel-item img{
    width: 50%;
    height:600px;
}

.conoce{
    padding:30px;
    margin-top: 35px;
    text-align: center;
    background: #fff;
    width: 100%;
    color: #000000;
}


.galeria-productos{
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #fff;
    padding-bottom: 50px;
 
}

.galeria-productos .galeria-img{
    position: relative;
    overflow: hidden;
    width: 25%;
    box-shadow: 0 12px 16px rgba(0, 0, 0,0.2);
    border-radius: 5px;
    margin: 25px;
}

.galeria-img img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    vertical-align: top;
}


.extra-galeria{
    top: 0;
    width: 100%;
    height: 100%;
    padding: 6px;
    background: rgb(48,88,29);

}


.extra-galeria h4{
    width: 95%;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-align: center;
}



footer{
    background-color: rgb(59, 192, 19);
    padding: 40px 0;
    width: 100%;
    display: flex;
    margin-top: 25px;


}

footer .contactar{
    padding-left: 0px;
    color: rgb(255, 255, 255);
    width: 48%;
    height: 250px;
    text-align: start;
    border-right: 10px  dotted rgba(0, 0, 0, 1);
}

.contactar h1{
    text-align: center;
}


.contactar h4{
    padding-left: 50px;
    padding-top: 20px;
    color:#000;
    font-size: 30px;
}

.contactar .ccont{
    padding-left: 50px;
    padding-top: 25px;
    position: relative;

}

.ccont li{
    font-size: 25px;
}

.img-footer img{
    height: 245px;
    width: 100%;
    position: absolute;
    top:0;
    padding-left: 190px;
}


.formulario{
    width: 49%;
    padding-left: 30px;
}

.contact h3{
    color: #fff;
    padding-bottom: 20px;
    font-size: 35px;
}

.name{
    color: #fff;
    font-size: 21px;
}